@model IEnumerable<UniversityClient.Models.ImageModel>

@{
    ViewBag.Title = "ImageGallery";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <link href="~/ImageStylesheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2 style="text-align:center">Lightbox</h2>

    <div style="padding-left: 50px;width:650px">
        <table style="height: 300px; width: 650px; font-family: PacificoRegular">
            @{var counter = 1; }
            <tr style="padding-top: 20px">
                @foreach (var item in Model)
                {

                    <td style="height: 100px; width: 200px;">           
                        <img src="@Url.Content(item.Path)" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                    </td>
                    <td><br /><br /></td>
                    if (counter % 3 == 0)
                    {
                        @:</tr><tr><td><br/></td></tr><tr>
                    }  
                    counter++;

                }
            </tr>
        </table>
    </div>


        @*<div class="row">
            <div class="column">
                <img src="img_nature.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="img_fjords.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="img_mountains.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img src="img_lights.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
            </div>
        </div>*@

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
               
                @foreach(var item in Model)
                 {
                    <div class="mySlides">
                        <img src="@Url.Content(item.Path)" style="width:100%">
                    </div>
                 }

                
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>


                @foreach(var item in Model)
                { 
                <div class="column">
                    <img class="demo cursor" src="@Url.Content(item.Path)" style="width:100%" onclick="currentSlide(1)">
                </div>
              
                }
            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = "block";
            }

            function closeModal() {
                document.getElementById('myModal').style.display = "none";
            }

            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                var captionText = document.getElementById("caption");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>

    </body>
</html>




